.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}
.img_panel{
    height: 45%;
    width: 100%;
}
.img{
    border-radius: .4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    font-size: 1.6rem;
    color: var(--dark);
    margin-top: .7rem;
    font-family: var(--font-head);
}
.para{
    margin-top: .5rem;
    color: var(--gray);
    font-family: var(--font-body);
    font-size: .9rem;
    text-align: justify;
    /* letter-spacing: 1px; */
    line-height: 1.5rem;
}
.btn_lg{
    width: 11rem;
    margin-top: .8rem;
    height: 3rem;
    border: none;
    background-color: var(--red-primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: .9rem;
}
.btn_lg:hover{
    background-color: var(--red-secondary);
    cursor: pointer;

}