/* Navbar header section styling  */
.navbar_section {
  height: 5rem;
  background-color: rgba(199, 199, 199, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: background-color 0.3s ease;
}
/* style when we are scrolling  */

.scrolling_style {
  background-color: var(--dark);
}

.show {
  left: 0;
}

/* Navbar main body styling  */
.navbar {
  height: 100%;
  width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

/* Logo Styling */
.logo {
  font-size: clamp(1.4rem, 2.2rem, 3vw);
  font-family: var(--font-head);
  font-weight: 800;
  color: var(--white);
}
.diff {
  color: var(--red-primary);
  margin-left: 0.3rem;
}
/* navigation icon for mobile and tablet view styling   */

.mobile_bar_icon {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  font-size: 2rem;
  color: var(--red-primary);
  /* color: var(--white); */
  transform: rotate(180deg);
  display: none;
}

/* Navigation box styling  */
.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav_items {
  font-size: 0.9rem;
  font-family: var(--font-head);
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
}
.nav_items:hover {
  color: var(--red-primary);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* SIGN UP BUTTON STYLING  */
.btn_sm {
  width: 5rem;
  height: 2.5rem;
  display: block;
  color: var(--white);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  background-color: var(--red-primary);
}
.btn_sm:hover {
  background-color: var(--red-secondary);
  cursor: pointer;
}

/* Styling for 1024px */

@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
  .logo {
    font-size: 2rem;
  }
  .nav_items {
    font-size: 0.7rem;
  }
}
/* Styling for 768px  */

@media screen and (max-width: 768px) {
  .navlist {
    position: fixed;
    left: -40rem;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(227, 227, 227, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav_items {
    color: var(--dark);
    width: 100%;
    display: block;
    height: 2rem;
    font-size: 1.3rem;
  }
  .mobile_bar_icon {
    display: block;
  }
}
