

/* IMPORTING FONTS FOR GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* THESE ARE DEFAULT COLOR SCHEME AND FONT SCHEME  */

:root {
  --red-primary: #ed563b;
  --red-secondary: #ec0b0b;
  --black: #000000;
  --dark: #111111;
  --gray: #9d9a9a;
  --light-gray: #f7f7f7;
  --white:white;
  --purple: #2c234d;
  --font-head: Oswald, sans-serif;
  --font-body: "Roboto Condensed", sans-serif;
}

/* CSS RESET  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.diff{
  color: var(--red-primary);
}
.text-sm{
  font-size: 1rem;
  color: var(--gray);
  font-family: var(--font-body);
}
